.button {
    border-radius: 15px;
    /* width: 120px; */
    /* padding: 2px 20px; */
    box-sizing: border-box;
    font-weight: bold;
    color:#534e48;
}

.button:hover {
    cursor: pointer;
}

.button:active {
    outline: 1px solid #042728;
}

.add-button {
    height: 30px;
    padding: 2px 20px;
    color:#534e48;
    background-color: aquamarine;
}

.add-button:hover {
    background-color: aqua;
}

.control-button {
    padding: 4px 10px;
    text-align: center;
    color: #b4cfd4;
    background-color: #276827;
}

.control-button:hover {
    background-color: #4d894d;
}

.clear-button {
    padding: 4px 10px;
    text-align: center;
    color: #b4cfd4;
    background-color: #e41313;
}

.clear-button:hover {
    background-color: #fd3333;
}

.active-control-button {
    background-color: yellow;
}

.active-control-button:hover {
    background-color: yellow;
}





