.todo {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 5px solid #08e3e3;
}

.delete-todo-box {
    border: 1px solid black;
    width: 25px;
    height: 25px;
    font-weight: bold;
    font-size: 35px;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-todo-box:hover {
    cursor: pointer;
    background-color: #ea7474;
}

.delete-todo-box:active {
    color: white;
    background-color: #ae0b0b;
}

.todo-text {
    width: 600px;
    margin-left: 10px;
    /* border: 1px solid black; */
}

.active-todo {
    border-radius: 15px;
    background-color: aqua;
}