.header {
    width: 99.5vw;
    border: 2px solid aquamarine;
    border-radius: 15px;
    box-shadow: 15px 15px 10px aquamarine;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app-title {
    margin-left: 2%;
    text-align: center;
    color: #7fffd4;
}

.header-icons {
    width: 150px;
    display: flex;
    justify-content: space-around;
}