.header {
    width: 99.5vw;
    padding: 0 15px;
    box-sizing: border-box;
    border: 2px solid aquamarine;
    border-radius: 15px;
    box-shadow: 15px 15px 10px aquamarine;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app-title {
    width: 100%;
    margin-left: 2%;
    text-align: center;
    margin: 10px;
    color: #7fffd4;
}

.app-title:hover {
    opacity: 0.5;
    color: #4bfcc1;
}

.header-icons {
    width: 150px;
    display: flex;
    justify-content: space-around;
}

.headerLink {
    color: #87877f;
    padding-bottom: 5px;
    border-bottom: 1px solid white;
}

.headerLink:hover {
    opacity: 0.7;
    border-bottom: 1px solid grey;
    cursor: pointer;
}

@media (max-width: 400px) {
    .app-title {
        font-size: 1.5rem;
    }

    .header-icons {
        width: 120px;
    }
}